<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="site_name" content="">
    <meta name="title" content="">
    <meta property="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="url" content="">
    <meta property="type" content="website">
    <meta name="google" value="notranslate">
    <meta charset="UTF-8">
    <meta name="theme-color" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="prefetch" href="" as=""> <!-- URL and name of the font -->
    <link rel="icon" href="">
    <link rel="manifest" href="" />
    <link rel="apple-touch-icon" href="">
    {% block imports %}
    {% endblock %}
    <title>EuroDict</title>
    {% block css %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>